$color-brand: darkgrey;
$font-size: 1em;

.App {
  transition: transform 1s;
  display: flex;
  background: blue;
  color: $color-brand;
  background: linear-gradient(to top, black, white);
 font-size: $font-size;
}